/* font-family: 'BlinkMacSystemFont'; */
:root {
  --background-color: #fff;
  --text-color: #7C7C7C;
  --searchbar-background: #EFEFEF;
  --dataset-background: #EFEFEF;
  --button-background: #EFEFEF;
  --button-color: #5E99B2;
  --title-color: #7C7C7C;
  --dataset-title-background: #BCD7EF;
  --dataset-title-border: #BCD7EF;
  --searchbar-border: #D9D9D9;
  --searchbar-font-color: #7C7C7C;
  --page-indicator: #282828;
  --page-indicator-active: #BCD7EF;
  --header-border: #D9D9D9;
}

.dark-mode {
  --background-color: #282828;
  --text-color: #EFEFEF;
  --searchbar-background: #404040;
  --dataset-background: #404040;
  --button-background: #404040;
  --button-color: #7C7C7C;
  --title-color: #EFEFEF;
  --dataset-title-background: #404040;
  --dataset-title-border: #282828;
  --searchbar-border: #282828;
  --searchbar-font-color: #EFEFEF;
  --page-indicator: #7C7C7C;
  --page-indicator-active: #EFEFEF;
  --header-border: #404040;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'BlinkMacSystemFont';
}
input,
img {
  outline: none;
}

button {
  all: unset;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em; 
  border-bottom: 2px solid var(--header-border);
}

.left-image {
  width: 10em; 
  height: auto;
  margin-right: 1em;
  margin-left: 3em; 
}

.right-image {
  width: 5em;
  height: auto;
  margin-right: 2em;
}

.mode {
  margin-right: 1.5em;
}

.search-bar {
  width: 32em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--searchbar-background);
  padding: 0.2em;
  border: 1px solid var(--searchbar-border);
}

.search-bar input {
  display: flex;
  color: var(--searchbar-font-color);
  flex-grow: 1;
  border: none;
  background: none;
  width: 20em;
  padding: 5px;
  font-size: 20px;
  margin-left: 1em; 
  font-family: 'BlinkMacSystemFont';
}

.search-bar button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  background: var(--searchbar-background);
}
.search-icon {
  width: 2em;
  fill: white;
}

.dataset-container {
  margin-bottom: 5em;
}
.datasets-list {
  display: flex;
  flex-direction: column;
  width: 35em;
  margin-left: 6em;
  justify-content: space-between;
}
.dataset-list-title {
  font-family: 'BlinkMacSystemFont';
  font-size: 32px;
  color: var(--title-color);
}
.dataset-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dataset-title-background);
  border-bottom: 1px solid var(--dataset-title-border);
}
.dataset-title {
  font-size: 20px;
  color: var(--title-color);
  margin-left: 1.5em;
}
.dataset-chevron {
  margin-right: 1.5em;
  cursor: pointer;
}
.dataset-body {
  background: var(--dataset-background);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1.5em;
}
.dataset-description {
  margin-bottom: 2em;
  color: var(--title-color);;
}
.dataset-button {
  width: 4em;
  background: none;
  border: 1px solid var(--button-color);
  color: var(--button-color);;
  padding: 0.75em 2em;
  margin-right: 1.2em;
}
.hidden {
  display: none;
}

.page-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.indicator-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.indicator-list li {
  margin: 0 1em;
  cursor: pointer;
  color: var(--page-indicator);
}

.indicator-list li:hover {
  text-decoration: underline;
}

.indicator-list li.active {
  color: var(--page-indicator-active);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    border:  none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-image {
    display: none;
  }

  .search-bar {
    width: 90%;
    max-width: none;
    margin-top: 1em;
  }

  .datasets-list {
    width: 90%;
    max-width: none;
    margin-top: 2em;
    margin-left: 0;
  }

  .dataset-title-container {
    padding: 0.5em;
  }
}

@media (max-width: 480px) {

  .dataset-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dataset-button {
    margin-top: 1em;
  }
}