/* font-family: 'BlinkMacSystemFont'; */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'BlinkMacSystemFont';
}
input,
img {
  outline: none;
}

button {
  all: unset;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em; 
}

.left-image {
  width: 10em; 
  height: auto;
  margin-right: 1em;
  margin-left: 3em; 
}

.right-image {
  width: 2em;
  height: auto;
  margin-right: 2em;
}

.search-bar {
  width: 32em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EFEFEF;
  padding: 0.2em;
  border: 1px solid #D9D9D9;
}

.search-bar input {
  display: flex;
  flex-grow: 1;
  border: none;
  background: none;
  width: 20em;
  padding: 5px;
  font-size: 20px;
  margin-left: 1em; 
  font-family: 'BlinkMacSystemFont';
}

.search-bar button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  background: #EFEFEF;
}
.search-icon {
  width: 2em;
}
.dataset-container {
  margin-bottom: 5em;
}
.datasets-list {
  display: flex;
  flex-direction: column;
  width: 35em;
  margin-left: 6em;
  justify-content: space-between;
}
.dataset-list-title {
  font-family: 'BlinkMacSystemFont';
  font-size: 32px;
  color: #7C7C7C;
}
.dataset-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #BCD7EF;
}
.dataset-title {
  font-size: 20px;
  color: #7C7C7C;
  margin-left: 1.5em;
}
.dataset-chevron {
  margin-right: 1.5em;
  cursor: pointer;
}
.dataset-body {
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1.5em;
}
.dataset-description {
  margin-bottom: 2em;
  color: #7C7C7C;
}
.dataset-button {
  background: none;
  border: 1px solid #5E99B2;
  color: #5E99B2;
  padding: 0.75em 2em;
  margin-right: 1.2em;
}
.hidden {
  display: none;
}

.page-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.indicator-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.indicator-list li {
  margin: 0 1em; /* Adjust the spacing between indicators */
  cursor: pointer;
}

.indicator-list li:hover {
  text-decoration: underline;
}
