body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .left-image {
    margin-right: 10px;
    width: 100px; /* Adjust the width as per your preference */
  height: auto; /* Maintain the aspect ratio */
  }
  
  .right-image {
    margin-left: 10px;
    width: 20px; /* Adjust the width as per your preference */
  height: auto; /* Maintain the aspect ratio */
  }
  
  .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar input {
    width: 200px; /* Adjust the width as per your preference */
    padding: 5px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    font-size: 16px;
  }
  